.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reset {
  width: 120px;
  height: 55px;
  background-color: blue;
  text-align: center;
  font-size: 30px;
  color: white;
  margin-top: 50px;
}
h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
}
